<!-- dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Información Transacciones</title>
</head>
<style>
  table, th, td {
    border:1px solid black;
  }
  body {
  margin: 10px 0 0 10px;
  padding: 0;
  font: 16px Verdana, sans-serif;
  }
  h1 {
    margin-top: 0;
    padding-top: 0;
  }
  
  /* buttons */ 
  .dropdown-content {
      display: none;
      position: absolute;
    }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .btn-group button {
  background-color: #6495ed; /* Green background */
  border: 1px solid rgb(209, 233, 252); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font: 16px Verdana, sans-serif;
  }

  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3131df;
  }

  /* histogram */

  .histogram-container {
      display: flex;
      align-items: flex-end;
      height: 200px;
      margin-top: 20px;
      padding: 0 10px;
    }
    
    .bar {
      width: 20px;
      background-color: #2196F3;
      margin-right: 5px;
    }
    
    .x-axis {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      padding: 0 10px;
    }
  </style>
<body>
  <h1>Información Transacciones</h1>

  <h2>Número de transacciones:</h2>
  <p><%= count %></p>

  <h2>Tipo de operaciones <%= op1 %></h2>
  <p>Cantidad de operaciones <%= op1 %>: <%= num_op1 %></p>
  <p>Monto de operaciones <%= op1 %>: $ <%= amount_op1 %></p>

  <h2>Tipo de operaciones <%= op2 %></h2>
  <p>Cantidad de operaciones <%= op2 %>: <%= num_op2 %></p>
  <p>Monto de operaciones <%= op2 %>: $ <%= amount_op2 %></p>

  <!-- Table -->

  <h2>Las últimas 100 transacciones</h2>

  <div class="timeline-table">
    <table class="timeline-table__table" style="margin-bottom: 10px; margin-top: 10px;">
      <thread>
        <tr>
          <th>ID transacción</th>
          <th>Fecha</th>
          <th>Operación</th>
          <th>Monto</th>
          <th>Cuenta origen</th>
          <th>Banco de origen</th>
          <th>Cuenta destino</th>
          <th>Banco de destino</th>
        </tr>
      </thread>

      <tbody>
        <% transactions.forEach(function(transaction) { %>
          <tr>
            <td><%= transaction.id_transaccion %></td>
            <td><%= transaction.date.toISOString().split('T')[0] %></td>
            <td><%= transaction.type %></td>
            <td> $ <%= transaction.amount %></td>
            <td><%= transaction.account_origin %></td>
            <td><%= transaction.bank_origin %></td>
            <td><%= transaction.account_destiny %></td>
            <td><%= transaction.bank_destiny %></td>
          </tr>
        <% }); %>
    </table>
  </div>
  
  <!-- filtro charts -->

  <h2>Seleccione de que data quiere ver el histograma correspondiente</h2>

  <form action="/charts" method="POST" id="myForm">

  <div class="btn-group">
  
    <div class="dropdown">
      <button class="dropbtn">Seleccionar fecha</button>
      <div class="dropdown-content">
        <% dates.forEach(function(date) { %>
          <button type="button" onclick="submitForm('date', '<%= date.date %>')" class="option-btn"><%= date.date.toISOString().split('T')[0] %></button>
        <% }); %>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Seleccionar banco de origen</button>
      <div class="dropdown-content">
        <% bank_origin.forEach(function(bank) { %>
          <button type="button" onclick="submitForm('bank_origin', '<%= bank.bank_origin %>')" class="option-btn"><%= bank.bank_origin %></button>
        <% }); %>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Seleccionar banco de destino</button>
      <div class="dropdown-content">
        <% bank_destiny.forEach(function(bank) { %>
          <button type="button" onclick="submitForm('bank_destiny', '<%= bank.bank_destiny %>')" class="option-btn"><%= bank.bank_destiny %></button>
        <% }); %>
      </div>
    </div>
  
  </div>

  </form>


  
  <script>
    // Toggle visibility of dropdown content
    document.querySelector('.dropdown').addEventListener('click', function() {
      this.querySelector('.dropdown-content').classList.toggle('show');
    });

    // Get the clicked button value
    const optionButtons = document.querySelectorAll('.option-btn');
    optionButtons.forEach(function(button) {
      button.addEventListener('click', function(event) {
        const clickedButtonValue = event.target.innerText;
        console.log('Clicked Button:', clickedButtonValue);
      });
    });

    function submitForm(value1, value2) {
      console.log('Clicked Button:', value1, value2);
      const form = document.getElementById('myForm');
      
      // Create hidden input fields for the values
      const input1 = document.createElement('input');
      input1.type = 'hidden';
      input1.name = 'param1';
      input1.value = value1;
      form.appendChild(input1);
      
      const input2 = document.createElement('input');
      input2.type = 'hidden';
      input2.name = 'param2';
      input2.value = value2;
      form.appendChild(input2);
      
      // Submit the form
      form.submit();
    }
  </script>

</body>
</html>